@media (prefers-reduced-motion: no-preference) {
  .react-logo, .mobx-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  .logos-wrapper {
    display: flex;
    flex-direction: row;

    img {
      display: inline-flex;
    }
  }

  .react-logo {
    height: 200px;
    pointer-events: none;
  }

  .mobx-logo {
    margin-top: 40px;
    height: 125px;
    pointer-events: none;
  }

  h1 {
    margin-bottom: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
